.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
  max-width: 30vw;
  padding: 20px 20px;

  background-color: #334443;
  color: #f2eddd;

  text-align: center;
}

.sidebarTitle {
  font-size: 20px;
}
