.taskframe {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  /* overflow: scroll; */
  gap: 50px;
  padding: 20px 80px;

  background-color: #34656d;
  color: #f2eddd;
  text-align: center;
}
