.projectItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  width: 100%;
}

.projectItemContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  width: 100%;
  cursor: pointer;
  padding: 15px 15px;
  border: #f2eddd solid 1px;
  border-radius: 35px;
}
