.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
  max-width: 30vw;
  padding: 20px 20px;

  background-color: #334443;
  color: #f2eddd;

  text-align: center;
}

.sidebarTitle {
  font-size: 20px;
}

.taskForm {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  gap: 15px;

  width: 100%;
}

.projectList {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 15px;
  width: 100%;
  overflow: scroll;
}

.projectItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  width: 100%;
}

.projectItemContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  width: 100%;
  cursor: pointer;
  padding: 15px 15px;
  border: #f2eddd solid 1px;
  border-radius: 35px;
}
